# Ignorar arquivos de log
*.log

# Ignorar diretório de arquivos temporários
temp/

# Ignorar pasta de módulos
node_modules/

# Ignorar arquivos de configuração específicos
config.ini

# Não ignorar arquivos README.md
!README.md
